@import "normalize.scss";

// === Mixins ===
// === / Mixins ===
.section-inner {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 22px 48px rgba(176, 192, 237, 0.52);
  background-color: #ffffff;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 60px;
  padding-right: 60px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

h2,
h3 {
  color: #16485c;
}

#read-more-1,
#read-more-2 {
  cursor: pointer;
  color: #16485c;
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
}

#read-more-1 {
  display: none;
}

#text-block-2 {
  display: none;
}
